body{
				background-image: url()
}

h2{
					text-align: center;
}
 .container{
 				background-color: hsl(225, 100%, 98%);
 				font-size:16px;
 				width: 85%;
 				margin: auto;
 				border-radius: 15px;
 }
 
 .hero{
 				border-top-left-radius: 15px;
 }
 .text{
 					text-align: center;
 }
 
 .music{
 					text-align: left;
 					background-color: yellow;
 					padding: 10px;
 }
 
 .payment{
 				background-color: hsl(245, 75%, 52%);
 				text-color: whitesmoke;
 				width: 70%;
 				padding: 10px;
 				margin: auto;
 					text-align: center;
 					border-radius: 5px;
 }
 
 .cancel{
 					text-align: center;
 }
 .link{
 				text-align:right;
 }
 .order{
 font-famil:Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display);
 font-weight:900;
 }
 
  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
